JWT__SECRET_KEY=                # openssl rand -hex 32
DATABASE__POSTGRES_PASSWORD=
DATABASE__POSTGRES_USER=
DATABASE__POSTGRES_HOST=postgres
DATABASE__POSTGRES_PORT=5432
DATABASE__POSTGRES_DB=

EMAIL__HOST=smtp.yandex.ru
EMAIL__PORT=465
EMAIL__USERNAME=
EMAIL__PASSWORD=
EMAIL__FROM_ADDRESS=
EMAIL__USE_TLS=true

REDIS__HOST=redis
REDIS__PORT=6379
REDIS__PASSWORD=                # openssl rand -hex 16
